
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background: #f9f9f9;
    }

    /* NAVBAR */
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px;
      background: white;
      box-shadow: 0 2px 8px rgba(0,0,0,0.08);
      position:fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
    }


    /* LEFT + RIGHT LINKS */
    .nav-left,
    .nav-right {
      display: flex;
      gap: 20px;
    }

    .nav-left a,
    .nav-right a {
      text-decoration: none;
      color: #333;
      font-size: 14px;
    }

    /* CENTER LOGO */
    .logo {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.logo img {
  height: 60px;  
  width: auto; 
}

.logo h2 {
  font-size: 18px;
  margin: 0;
}

    /* DONATE BUTTON */
    .donate-btn {
      background: #f39c12;
      color: white;
      padding: 8px 16px;
      border-radius: 20px;
    }

    /* HAMBURGER */
    .menu-toggle {
      display: none;
      font-size: 26px;
      cursor: pointer;
    }

    /* MOBILE MENU */
    .mobile-menu {
      display: none;
      flex-direction: column;
      background: #515f2b;
      position: absolute;
      top: 60px;
      left:0;
      width: 100%;
      padding: 27px;
    }

    .mobile-menu a {
      color: white;
      padding: 10px;
      text-decoration: none;
      border-bottom: 1px solid rgba(255,255,255,0.1);
    }

    .mobile-menu a:hover {
      background: #eb7a1d;
    }

    .mobile-menu.active {
      display: flex;
    }

    /* HERO */
    .hero {
      text-align: center;
      padding: 200px 20px;
      background: #eaf2f8;
    }

    .btn {
      display: inline-block;
      margin-top: 15px;
      padding: 10px 20px;
      background: #0a3d62;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }

    /* MOBILE */
    @media (max-width: 768px) {
      .nav-left,
      .nav-right {
        display: none;
      }

      .menu-toggle {
        display: block;
      }

      .logo {
        position: static;
        transform: none;
        margin: auto;
      }
    }


    /* GENERAL SECTION */
.center {
  text-align: center;
  padding: 50px 20px;
}

h2 {
  margin-bottom: 20px;
  color: #0a3d62;
}






    
/* CONTACT */
section p {
  margin: 5px 0;
}

/* FOOTER */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}