<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <header><h1>css</h1></header>
 <main><h2>introduction to css layouts and position</h2></main>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quod itaque quas expedita. Tempore dolore delectus ullam. Sunt sapiente numquam recusandae. Eos numquam eligendi atque explicabo deleniti dolor. Inventore, maiores!</p>   
        
</body>
</html>